.App {
  text-align: center;
}

.btn {
  color: white;
  font: inherit;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.6;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}